.explane {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ecf5ff;
    border: 1px solid #b8daff;
    border-radius: 4px;
    padding: 12px 10px;
    cursor: pointer;
    margin-bottom: 10px;
}
.explane .text {
    display: flex;
    align-items: center;
}
.explane .text p {
    font-size: 12px;
    color: #3982d8;
    letter-spacing: -0.05em;
    padding-left: 6px;
}